/* src/App.css */
/* Global styles */
html, body {
  height: 100%; /* Ensure they take full height of the screen */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
  background-color: #050714; /* Set background color to black */
  color: white; /* Set text color to white */
}

* {
  box-sizing: border-box;
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}